body {
	background-image: url('https://images.unsplash.com/photo-1443146517630-ac1e04dfed9a?crop=entropy&dpr=2&fit=crop&fm=jpg&h=750&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1300');
	background-repeat: no-repeat;
	background: cover;
}

ul {
	list-style: none;
}
h1 {
	color: #FFF;
	margin-top: 75px;
}

.text-center {
	text-align: center;
}


.list-body {
	margin-top: 50px;
	background-image: url('http://demilked.uuuploads.com/free-paper-textures/free-paper-texture-14.jpg');
	border-radius: 15px;
}

.container {
	width: 33%;
}

.input-div {
	padding: 15px;
}

.shopping-list {
	margin-top: 10px;
	padding: 5px;
	font-family: sans-serif;
}

.shopping-list-item {
	padding: 3px 0px;
}

.delete {
	margin-right: 10px;
	padding: 0px 5px;
	vertical-align: text-top;
	line-height: 1;

}